$text      : #fff;

$green_bg  : #4CAF50;
$purple_bg : #7986CB;
$grey_bg   : #9B9B9B;
$filter_bg : #00ACC1;
$add_bg    : #3F51B5;

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: $text;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  letter-spacing: .5px;
  margin-right: 14px;

  &.add {
    background: $purple_bg;
    padding: 10px 12.17px;
    .btn-icon {
      float: left;
      margin-right: 4px;
      margin-left: 0;
    }
    &:hover {
      background-color: #685BA8;
    }
  }

  &.prove {
    background: $add_bg;
    padding: 10px 12px;
    display: inline-block;
    margin-left: 12px;
  }

  &.success {
    padding: 10px 16px;
    background-color: $green_bg;
  }

  &.cancel {
    background: none;
    padding: 10px 12px;
    color: $grey_bg;
    &:hover {
      background: #efefef;
    }
  }

  &.filter {
    background: $filter_bg;
    text-transform: lowercase;
    font-size: 1.1em;
    font-weight: 300;
    .btn-icon {
      float: right;
    }
  }

  &.filters {
    background: #EFEFEF;
    color: #4A4A4A;
    font-size: 13px;
    text-transform: none;
    margin-right: 8px;
    font-style: italic;
    font-weight: 400;
    padding: 7.5px 11.6px;
    .btn-icon {
      float: right;
    }
    &:hover {
      color: #00ACC1;
      .btn-icon {
        color: #00ACC1;
      }
    }
    .btn-icon {
      color: #9B9B9B;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
